apiVersion: v1
kind: Service
metadata:
  name: activity-apiserver
  namespace: activity-system
spec:
  type: ClusterIP
  ports:
  - name: https
    port: 443
    targetPort: 8443
    protocol: TCP
    appProtocol: https
  selector:
    app: activity-apiserver
