apiVersion: v1
kind: Service
metadata:
  name: etcd
  namespace: activity-system
  labels:
    app: etcd
    app.kubernetes.io/component: storage
spec:
  type: ClusterIP
  ports:
    - name: client
      port: 2379
      targetPort: 2379
    - name: peer
      port: 2380
      targetPort: 2380
  selector:
    app: etcd
